# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
work/node_modules

# testing
work/coverage

# production
work/build

# misc
work/env.local
work/env.development.local
work/env.test.local
work/env.production.local

work/npm-debug.log*
work/yarn-debug.log*
work/yarn-error.log*

DS_Store
**/.DS_Store
**/**/.DS_Store
