@charset: "utf-8";

h1 {
  text-align: center;
}
#control {
  padding: 10px;
  background-color: gray;
}
input {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 150%;
}
input[type="text"] {
  width: 70%;
}
input[type="button"] {
  width: 25%;
}
#lists {
  font-size: 150%;
}
#lists p {
  float: left;
  padding: 20px;
  margin: 10px;
  border-radius: 5px 5px;
  background-color: lightgray;
}
#lists p:hover {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);;
}