body {
  font-family: 'Sacramento', cursive;
  background: url(../images/bg.jpg) no-repeat fixed;
}

a {
  text-decoration: none;
  color: #000;
}
.active a,
a:hover {
  animation: high-light .3s both;
}

/* header nav */
header nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  background: rgba(255, 255, 255, .7);
}
@media (min-width: 544px) {
  header nav {
    padding: 10px;
  }
}

/* header nav h1 */
header nav h1 {
  margin: 0 auto 0 0;
}
header nav h1 a:hover {
  animation: none;
}
@media (min-width: 544px) {
}

/* header nav img */
header nav img {
  line-height: 44px;
}
@media (min-width: 544px) {
  header nav img {
    display: none;
  }
}

/*header nav ul */
header nav ul {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 54px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 5px #aaa;
  animation: slide-out .3s both;
  -webkit-animation: slide-out .3s both;
}
@media (min-width: 544px) {
  header nav ul {
    position: static;
    flex-direction: row;
    box-shadow: none;
  }
}
/*header nav ul.show */
header nav ul.show {
  animation :slide-in .5s both;
  -webkit-animation :slide-in .5s both;
}
header nav ul.show li {
  z-index: 1000;
}
header nav ul.show::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .3);
}

/* header nav ul li */
header nav ul li {
    width: auto;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
}
@media (min-width: 544px) {
  header nav ul li {
    background: none;
    border-radius: 10px;
  }
}

/* header nav ul li a */
header nav ul li a {
  display: block;
  box-sizing: border-box;
  padding:0 1em;
  width: 80vw;
  line-height: 44px;
}
@media (min-width: 544px) {
  header nav ul li a {
    width: auto;
  }
}

/* section */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 64px 5px 0;
  min-height: 100vh;
}

section a {
  padding: 5px 10px;
  border-radius: 5px;
}

section a:hover {
  animation: white .3s both;
}

/* .outer */
.outer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .outer {
    flex-direction: row;
    width: 100%;
  }
}

/* .inner */
.inner {
  display: flex;
  flex-direction: column;
  width: 320px;
}

@keyframes high-light {
    0% { background: none; }
  100% { background: rgba(0, 0, 0, .9); color: #fff; }
}
@-webkit-keyframes high-light {
    0% { background: none; }
  100% { background: rgba(0, 0, 0, .9); color: #fff; }
}

@keyframes white {
    0% { background: none; }
  100% { background: rgba(255, 255, 255, 0.5); }
}
@-webkit-keyframes white {
    0% { background: none; }
  100% { background: rgba(255, 255, 255, 0.5); }
}

@keyframes slide-in {
    0% { left: -100vw; }
  100% { left: 0; }
}
@-webkit-keyframes slide-in {
    0% { left: -100vw; }
  100% { left: 0; }
}

@keyframes slide-out {
    0% { left: 0; }
  100% { left: -100vw; }
}
@-webkit-keyframes slide-out {
    0% { left: 0; }
  100% { left: -100vw; }
}
