.App {
  margin-top: 56px;
  width: 100%;
  min-height: calc(200vh - 56px);
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 600px) {
  .App {
    margin-top: 64px;
    margin-left: 240px;
    min-height: calc(200vh - 64px);
  }
}
